.header{
    padding: 20px 0;

    &__list{
        list-style: none;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        padding: 0;
    }

    &__item:not(:last-child){
        margin-right: 15px;
    }

    &__link{
        font-size: 14px;
        line-height: 17px;
        color: #181818;
        transition: opacity 0.4s ease;

        &:hover{
            opacity: 0.7;
        }
    }

    &__logo--link{
        display: inline-block;
        margin-bottom: 10px;
    }

    &__btn{
        &:not(:last-child){
            margin-right: 10px;
        }

        background: #181818;
        border-radius: 7px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #ffff;
        border: 1px solid transparent;
        padding: 9px 22px;
        cursor: pointer;
        transition: color 0.4s ease, background 0.4s ease, border-color 0.4s ease;

        &:hover{
            background: transparent;
            color: #181818;
            border-color: #181818;
        }
    }
}




@media screen and(max-width:500px){
    .card{
        padding: 20px;   
    }

    .header__list{
        display: none;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
    }

    .header__btn{
        padding: 5px 15px;
        font-size: 13px;
    }
}

@media screen and(max-width:392px){
    .header__btn{
        padding: 3px 10px;
        font-size: 11px;
    }

    .header__logo{
        width: 100px;
        height: 20px;
    }
}