.bigSearch {
    width: 528px;
    margin-top: 20px;
}


.bigSearch .row {
    justify-content: space-between;
    align-items: center;
}

.drowpdown__wrap{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-btn{
    margin: 5px 0;
    background: #181818 !important;
    color: #fff;
    transition: all 0.4s ease;
}

.search-btn:hover{
    background: transparent !important;
    color: #181818;
}
.search-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropbtn {
    width: 175px;
    height: 40px;
    padding: 2px 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #181818;
    box-sizing: border-box;
    border-radius: 7px;
}

.dropdown {
    position: relative;
    display: block;
    Width: 175px;
}

.dropdown__label {
    display: block;
    margin-bottom: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 175px;
    height: 250px;
    overflow: auto;
    z-index: 1;
    box-shadow: 8px 10px 35px rgba(15, 52, 148, 0.25);
    border-radius: 15px;
    margin-left: 144px;
    padding-top: 15px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #181818;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.datepicker {
    Width: 224px;
    Height: 40px;
    margin: 50px 0;
}
.search-input{
    margin-top: 20px;
}

.search-div {
    position: relative;
}

.search-div__label {
    display: block;
    margin-bottom: 12px;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #181818;
}

.search-div__input {
    max-width: 300px;
    Height: 50px;
    width: 100%;
    background: hsl(220, 9%, 86%);
    color: #222;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 0 20px 0 50px;
}

.search-div__icon {
    position: absolute;
    left: 20px;
    top: 17px;
}

.check-box {
    font-family: 'SF Pro Display';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #181818;
}
.check-box-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27px;
    height: 54px;
    margin-left: 20px;
}
.offline{
margin-top:11px;
}
.online{
    margin-bottom: -6px;
}